USE [master]
GO
/****** Object:  Database [Temp]    Script Date: 1/21/2019 10:57:42 PM ******/
CREATE DATABASE [Temp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Temp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Temp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Temp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Temp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Temp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Temp]
GO
USE [Temp]
GO
/****** Object:  Table [dbo].[CategoryName]    Script Date: 1/21/2019 10:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryName](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/21/2019 10:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Name] [varchar](50) NOT NULL,
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsToCategory]    Script Date: 1/21/2019 10:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsToCategory](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryName] ADD  CONSTRAINT [DF_CategoryName_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductsToCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsToCategory_CategoryName] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CategoryName] ([Id])
GO
ALTER TABLE [dbo].[ProductsToCategory] CHECK CONSTRAINT [FK_ProductsToCategory_CategoryName]
GO
ALTER TABLE [dbo].[ProductsToCategory]  WITH CHECK ADD  CONSTRAINT [FK_ProductsToCategory_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductsToCategory] CHECK CONSTRAINT [FK_ProductsToCategory_Products]
GO
USE [master]
GO
